html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  line-height: 1.4;
  min-height: 100vh;
  border: 2px solid green;
  font-size: 18px;
  text-align: center;
}
header {
  background-color: powderblue;
  padding: 10px;
}

input {
  margin-top: 5rem;
  padding: 8px;
  font-size: 12px;
}

footer {
  background-color: lightcoral;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
